<div class="wayforpay-confirmation">
  <h2 class="wayforpay-confirmation__title">{{ 'Payment status is'|trans }} {{ status }}</h2>
  {% if order_reference %}
  <div class="wayforpay-confirmation__field wayforpay-confirmation__field--order-reference">
    <div class="wayforpay-confirmation__field-label">{{ 'Order reference'|trans }}</div>
    <div class="wayforpay-confirmation__field-value"> {{ order_reference }}</div>
  </div>
  {% endif %}
  {% if amount %}
  <div class="wayforpay-confirmation__field wayforpay-confirmation__field--amount">
    <div class="wayforpay-confirmation__field-label">{{ 'Amount paid'|trans }}</div>
    <div class="wayforpay-confirmation__field-value">{{ amount }} {{ currency }}</div>
  </div>
  {% endif %}
  {% if text %}
  <div class="wayforpay-confirmation__text">{{ text }}</div>
  {% endif %}
</div>
